@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:wght@300&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 144rem;
    min-height: 100vh;
}

/*  aca va el header  */

.header{
    height: 11.8rem;
    width: 100%;
    background-color: #9ECEFA;
    display: flex;
}

.logo{
    width: 13.9rem;
    height: 6.9rem;
    margin-top: 2.6rem;
    margin-left: 4rem;
    margin-right: auto;
    margin-bottom: 2.3rem;
    font-family: 'Fascinate', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 6.9rem;
    color: #87119A;
}

.nav{
    width: 50.7rem;
    height: 2.8rem;
    margin-top: 4.5rem;
    margin-right: 5.3rem;
    margin-bottom: 4.5rem;
}

.nav .nav-list{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.nav .nav-list .nav-items a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #707070;
}

.nav .nav-list .nav-items a:hover{
    color: #87119A;
}


/* aca va el main  */

.main-container{
    width: 100%;
    padding: 3.2rem;
    background-color: #E5E5E5;
}

/*  aca va la seccion 1  */

.section--1{
    width: 100%;
    padding-top: 2.1rem;
}

.div{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 0.4rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 0.95rem;
}

.main-container__title--1{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}


.main-container__paragraph--1{
    width: 135.1rem;
    height: 18.4rem;
    margin-left: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--1{
    width: 128.6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 7.8rem;
}

.main-container .img{
    width: 41rem;
    height: 25.1rem;
    padding: 0;
    margin: 0;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
}

/*  aca va la seccion 2  */

.section--2{
    width: 100%;
}

.div-2{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 0.4rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 0.95rem;
}

.main-container__title--2{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--2{
    width: 135.1rem;
    height: 18.4rem;
    margin-left: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--2{
    width: 93.2rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 7.8rem;
}

.main-container .img-2{
    width: 41rem;
    height: 25.1rem;
    padding-right: 5.6rem ;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
    margin-bottom: 6.1rem;
}

/*  aca va la seccion 3  */

.section--3{
    width: 100%;
}

.div-3{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 1.2rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 9.5px;
}

.main-container__title--3{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--3{
    width: 135.1rem;
    height: 18.4rem;
    margin-left: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--3{
    width: 128.4rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 7.8rem;
}

.main-container .img-3{
    width: 28.2rem;
    height: 25.1rem;
    margin-right: 3.9rem ;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
    margin-bottom: 4.6rem;
}

/*  aca va la seccion 4  */

.section--4{
    width: 100%;
    margin-bottom: 22.7rem;
}

.div-4{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 1.2rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 9.5px;
}

.main-container__title--4{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--4{
    width: 135.1rem;
    height: 18.4rem;
    margin-left: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--4{
    position: relative;
    bottom: 7.8rem;
    display: flex;
}

.img--4{
    width: 89.2rem;
    height: 54.5rem;
    
}

.paragraphs{
    vertical-align: top;
    padding-top: 3rem;
    padding-left: 3.5rem;
}

.paragraphs__1, .span{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.main-container .main-container__images--4 .paragraphs__1{
    font-weight: bold;
}

.paragraphs__2{
    text-transform: uppercase;
}

span{
    padding-left: 1.5rem;
}

.paragraphs div{
    margin-bottom: 1.5rem;
}


.footer{
    width: 144rem;
    height: 7.7rem;
    background-color: #9ECEFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-text__1, .footer .footer-text__2{
    width: 35rem;
    height: 3.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #000000;
}

.footer-text__1{
    padding-left: 4.1rem;
    text-align: left;
}

.footer-text__2{
   text-align: right;
}

.footer .footer-text__2 .span-2{
    color: #87119A;
    padding-right: 3.5rem;
}