@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

/*  aca va el header  */

.header{
    /*height: 11.8rem;*/
    height: 8.43%;
    width: 100%;
    background-color: #9ECEFA;
    display: flex;
}

.logo{
    width: 13.9rem;
    height: 6.9rem;
    margin-top: 2.6rem;
    margin-left: 4rem;
    margin-right: auto;
    margin-bottom: 2.3rem;
    font-family: 'Fascinate', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 6.9rem;
    color: #87119A;
}

.nav{
    /*width: 50.7rem;*/
    width: 50%;
    height: 2.8rem;
    margin-top: 4.5rem;
    margin-right: 2rem;
    margin-bottom: 4.5rem;
    padding-right: 2rem;
}

.nav .nav-list{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.nav .nav-list .nav-items a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #707070;
}

.nav .nav-list .nav-items a:hover{
    color: #87119A;
    border-bottom: 2px solid #87119A;
}


/* aca va el main  */

.main-container{
    width: 100%;
    padding: 3.2rem;
    background-color: #E5E5E5;
}

/*  aca va la seccion 1  */

.section--1{
    width: 100%;
    padding-top: 2.1rem;
}

.div{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 0.4rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 0.95rem;
}

.main-container__title--1{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}


.main-container__paragraph--1{
    width: 100%;
    height: 11.5rem;
    margin-left: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--1{
    /*width: 128.6rem;*/
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 9rem;
    box-sizing: border-box;
}

.main-container .img{
    width: 29.5%;
    /*width: 41rem;*/
    /*height: 25.1rem;*/
    height: 19.52%;
    padding: 0;
    margin: 0;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
}

/*  aca va la seccion 2  */

.section--2{
    width: 100%;
    height: auto;
}

.div-2{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 0.4rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 0.95rem;
}

.main-container__title--2{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--2{
    width: 100%;
    /*height: 18.4rem;*/
    height: 11.5rem;
    margin-left: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--2{
    /*width: 93.2rem;*/
    width: 89.7%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 9rem;
}

.main-container .img-2{
    /*width: 41rem;*/
    width: 44%;
    /*height: 25.1rem;*/
    height: 26.92%;
    padding-right: 5.6rem ;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
    margin-bottom: 6.1rem;
}

.main-container .img-2-1{
    margin-bottom: 3.4rem;
}

/*  aca va la seccion 3  */

.section--3{
    width: 100%;
}

.div-3{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 1.2rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 9.5px;
}

.main-container__title--3{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--3{
    width: 100%;
    /*height: 18.4rem;*/
    height: 11.5rem;
    margin-left: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--3{
    /*width: 128.4rem;*/
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 9rem;
}

.main-container .img-3{
    /*width: 28.2rem;*/
    width: 21.5%;
    /*height: 25.1rem;*/
    height: 19.55%;
    margin-right: 3.9rem ;
    /*box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);*/
    border-radius: 0.8rem;
    margin-bottom: 4.6rem;
}

/*  aca va la seccion 4  */

.section--4{
    width: 100%;
    margin-bottom: 14rem;
}

.div-4{
    width: 0.8rem;
    height: 5.2rem;
    margin-left: 1.2rem;
    background-color: #87119A;
    display: inline-block;
    vertical-align: center;
    position: relative;
    float: left;
    bottom: 9.5px;
}

.main-container__title--4{
    width: 14.7rem;
    height: 3.3rem;
    display: inline-block;
    padding-left: 2.3rem;
    margin-bottom: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #87119A;
}

.main-container__paragraph--4{
    width: 100%;
    /*height: 18.4rem;*/
    height: 11.5rem;
    margin-left: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #414141;
}

.main-container__images--4{
    display: flex;
}

.img-4{
    /*width: 89.2rem;*/
    width: 63.8%;
    /*height: 54.5rem;*/
    height: 38.93%;
}

.paragraphs{
    vertical-align: top;
    padding-top: 3rem;
    padding-left: 3.5rem;
}

.paragraphs__1{
    color: #000000;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.span{
    color: #707070;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.paragraphs__2{
    text-transform: uppercase;
}

.span{
    padding-left: 1.5rem;
}

.paragraphs div{
    margin-bottom: 1.5rem;
}

/*  aqui va el footer   */

.footer{
    width: 100%;
    height: 7.7rem;
    background-color: #9ECEFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-text__1, .footer .footer-text__2{
    width: 35rem;
    height: 3.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.footer-text__1{
    padding-left: 4.1rem;
    text-align: left;
}

.footer-text__2{
   text-align: right;
}

.footer .footer-text__2 .span-2{
    color: #87119A;
    padding-right: 3.5rem;
    font-weight: 900;
}


@media (max-width: 1000px){
    html{
        font-size: 10px;
    }
    body{
        width: 100vw;
    }
    .logo{
        font-size: 4rem;
        width: 30%;
    }
    .nav{
        width: 70%;
        height: 2.8rem;
        margin: auto 0;
        margin-left: 20px;
    }
    .nav .nav-list .nav-items a{
        font-size: 1.7rem;
        padding-right: 1.5rem;
    }      
}

@media (max-width: 700px){
    html{
        font-size: 10px;
    }

    body{
        width: 100vw;
    }

    .logo{
        font-size: 3.5rem;
    }
    
    .nav .nav-list .nav-items a{
        font-size: 1.4rem;
    }
    .main-container__title--1{
        font-size: 2.3rem;
    }
    .main-container__paragraph--1{
        font-size: 1.4rem;
    }
    .main-container__title--2{
        font-size: 2.3rem;
    }
    .main-container__paragraph--2{
        font-size: 1.4rem;
    }
    .main-container__title--3{
        font-size: 2.3rem;
    }
    .main-container__paragraph--3{
        font-size: 1.4rem;
    }
    .main-container__title--4{
        font-size: 2.3rem;
    }
    .main-container__paragraph--4{
        font-size: 1.4rem;
    }

    .paragraphs__1, .span{
        font-size: 1.4rem;
    }
}


@media (max-width: 480px){
    html{
        font-size: 10px;
    }
    body{
        width: 100vw;
    }
    .header{
        height: 7rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        font-size: 1.9rem;
        height: 5rem;
        /*width: 5rem;*/
        width: 20%;
        margin: auto 0;
        margin-top: 1rem;
    }
    .nav{
        /*width: 20rem;*/
        width: 80%;
        height: 2.8rem;
        margin: auto 0;
    }
    .nav .nav-list .nav-items a{
        font-size: 1rem;
    }
    .main-container__title--1{
        font-size: 1.9rem;
    }
    .main-container__paragraph--1{
        font-size: 1.1rem;
    }
    .main-container__images--1{
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin: 3rem auto;
    }
    .main-container__images--1 .img{
        width: 80%;
        margin-bottom: 3.5rem;
    }
    .main-container__images--1 .img-1{
        margin-bottom: 2rem;
    }
    .main-container__title--2{
        font-size: 1.9rem;
    }
    .main-container__paragraph--2{
        font-size: 1.1rem;
    }
    .main-container__images--2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main-container__images--2 .img-2{
        width: 80%;
        height: 20%;
        margin-bottom: 10%;
    }
    .main-container__title--3{
        font-size: 1.9rem;
    }
    .main-container__paragraph--3{
        font-size: 1.1rem;
    }
    .main-container__images--3{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main-container__images--3 .img-3{
        width: 30%;
        height: 20%;
    }
    .section--4{
        margin-bottom: 5rem;
    }
    .main-container__title--4{
        font-size: 1.9rem;
    }
    .main-container__paragraph--4{
        font-size: 1.1rem;
    }
    .main-container__paragraph--4{
        margin-bottom: 3rem;
    }
    .paragraphs__1, .span{
        font-size: 1.1rem;
    }
    .main-container__images--4{
        display: flex;
        flex-direction: column;
    }
    .footer{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    .footer-text__1, .footer-text__2{
        width: 50vw;
    }
    .footer-text__1{
        padding-left: 1.5rem;
    }
    .footer-text__2{
        padding-right: 1.5rem;
    }
    .footer .footer-text__1,.footer .footer-text__2,.footer .span-2{
        font-size: 0.9rem;
    }
}